# Local development files
.classpath
.gradle/
.project
.settings/
.idea/
/*.zip
bin/
build/
gradle.properties
node_modules/
package-lock.json
# Local copies of mod structure (dev env)
/data
/graphics
/stelnet*
/mod_info.json
