{
    ## In order to modify Stelnet settings save this file as stelnet.json

    # Mod settings
    "autoRefreshMarkets": true, # keeps market information up-to-date
    "uninstallMod": false, # set to true, load and save the game to remove the mod
    # Module toggles - used to enable or disable specific modules
    "hasCommodities": true,
    "hasMarket": true,
    "hasStorage": true,
    # Board specific config
    "queryUseOpenMarket": true,
    "queryUseMilitaryMarket": true,
    "queryUseBlackMarket": false,
    "queryUseCustomMarkets": false,
    "viewerUseOpenMarket": true,
    "viewerUseMilitaryMarket": true,
    "viewerUseBlackMarket": false,
    "viewerUseCustomMarkets": false,
}